body{
	background-color:black ;
	font-family: 'Times New Roman', Times, serif;
}

h1 {
	text-align: center;
	color: gold;
	font-size: 65px;
	margin-top: 50px;
}
h2 {
	text-align: center;
	color: gold;
	font-size: 30px;
	margin-top: 40px;
}

.container {
	padding: 1rem;
	align-items: center;
}
.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}
	

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	25%{
		transform: translateX(0);
	}
	30%{
		transform: translateX(-100%);
	}
	50%{
		transform: translateX(-100);
	}
	55%{
		transform: translateX(-200%);
	}
	75%{
		transform: translateX(-200%);
	}
	80%{
		transform: translateX(-300%);
	}
	100%{
		transform: translateX(-300%);
	}
}
.slider {
	display: flex;
	aspect-ratio: 16 / 9; 
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	box-shadow: 0 1.5rem 3rem -0.75 hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
}
.slider img {
    flex: 1 0 100% ; 
	scroll-snap-align:  start;
	animation: slide 15s infinite;
}
.slider-nav { 
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%
	transform translateX(-50%);
	z-index: 1;
}
.slider-nav a {
    width: o.5rem;
	height: 0.5;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}
.slider-nav a:hover {
	opacity: 1;
}

.gold-text {
    color: gold;
	text-align: center;
}


.imgMain {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

